* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family:'Fredoka', sans-serif;;
}

img {
    max-width: 100%;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid white;
}

/* Intestazione */

.title {
    font-family:'Fredoka', sans-serif;;
    font-size: 35px;
    text-align: center;
    color: #e53170;
}


/* Inizio sezione contenente cards*/

.col {
    float: left;
    width: calc(100% / 3);   
}


/* DEBAG */
.debug .container {
    border: 2px solid red;
    padding: 10px;
}

.debug .col {
    border: 2px solid lightskyblue;
    padding: 10px;
    min-height: 100px;
}

.text {
    font-size: 13px;
    text-align: center;
    color: #311c54;
}

/* Footer */

footer .text-footer {
    width: 1000px;
    font-size: 13px;
    text-align: center;
    color: lightgrey;
    background-color: #222222;
    color: lightgrey;
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-left: 250px;
}

