
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family:'Fredoka', sans-serif;;
}

img {
    max-width: 100%;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid white;
}

/* Intestazione */

section {
    margin-top: 25px;
}

.title {
    font-size: 35px;
    text-align: center;
    color: #e53170;
}


/* Inizio sezione contenente cards*/

.col {
    float: left;
    width: calc(100% / 3); 
    background-color: black;  
}


.card-img {
    width: 100px;
    height: 100px;
    float: left;
}


.card-information {
    width: 70%;
    margin-left: 110px;
}

.card-name {
    color: white;
    font-size: 15px;
    margin-bottom: 7px;
}
.card-profession {
    color: white;
    font-size: 10px;
    width: 40px;
    margin-bottom: 11px;
}

.card-email {
    color: #5abad1;
    font-size: 12px;
    margin-top: 10px;
}

/* DEBAG */
.debug .container {
    
    padding: 10px;
}

.debug .col {
    border: 2px solid lightskyblue;
    padding: 10px;
    min-height: 100px;
}

.text {
    font-size: 13px;
    text-align: center;
    color: #311c54;
}

/* Footer */

.text-footer {
    padding: 30px;
    padding-bottom: 50px;
    font-size: 13px;
    background-color: #222222;
    color: white;
    text-align: center;
}

